.Conditions .Humidity {
  color: white;
  background-color: rgba(5, 4, 4, 0.5);
  border: 2px solid #000;
  border-radius: 10px;
  width: 100px;
  position: relative;
  left: 50px;
}

.Conditions .Wind {
  color: white;
  background-color: rgba(5, 4, 4, 0.5);
  border: 2px solid #000;
  border-radius: 10px;
  width: 100px;
  position: relative;
  left: 23px;
}

.Conditions {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}
