.MainTemp {
  background-color: rgba(5, 4, 4, 0.5);
  border: 2px solid #000;
  width: 300px;
  height: 300px;
  border-radius: 900px;
  position: relative;
  left: 90px;
  margin-top: 15px;
}

.MainTemp h1 {
  margin-top: 20px;
}

.MainTemp h4 {
  display: inline;
}

.MainTemp canvas {
  display: block;
  margin: 0 auto;
  width: 90px;
  position: relative;
  top: 7px;
}

.MainTemp p {
  margin-top: 20px;
  font-size: 20px;
  text-transform: capitalize;
}

.MainTemp .symbol {
  font-size: 25px;
  position: relative;
  top: -12px;
  font-weight: 500;
}

.MainTemp .temperature-now {
  position: relative;
  left: 10px;
}
